
<!-- LOGIN FORM -->
<section id="login-section" style="margin-top: 7rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header bg-inverse text-white">
            <h4>Entre com a sua conta</h4>
          </div>
          <div class="card-block  bg-faded">
            <form action="index">
              <div class="form-group">
                <label for="email" class="form-control-label">Endereço de Email</label>
                <input type="email" name="" value="" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="form-control-label">Palavra-chave</label>
                <input type="password" name="" value="" class="form-control">
              </div>
              <button class="btn btn-primary btn-block mb-3">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
