<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Posts | Blog Admin</title>
</head>
<body id="painel">

  <!--TOP-NAVBAR -->
  <nav id="top-navbar" class="navbar navbar-toggleable-md navbar-inverse bg-inverse py-1 ">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right mt-2" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span></button>

        <a href="index" class="navbar-brand">
          <img src="img/logo.png" width="50" height="50" alt="HaP logo">
          <h3 class="d-none d-md-inline align-middle">Blog</h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
              <a href="posts" class="nav-link active">Postagens</a>
            </li>
            <li class="nav-item px-2">
              <a href="categories" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item px-2">
              <a href="users" class="nav-link">Utilizadores</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bem-Vindo Admin</a>
              <div class="dropdown-menu">
                <a href="profile" class="dropdown-item"><i class="fa fa-user-circle"></i> Área Pessoal</a>
                <a href="settings" class="dropdown-item"><i class="fa fa-gear"></i> Definições</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="login" class="nav-link"><i class="fa fa-user-times"></i> Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="main-header" class="pt-3 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>
              <i class="fa fa-pencil"></i> Postagens
            </h1>
          </div>
        </div>
      </div>
    </header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-4 push-8">
        <div class="input-group">
          <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              Procurar
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- TABLE AREA -->
<section id="table-area-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Postagens Recentes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Autor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Post One</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Post Two</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td>Post Three</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
            </tbody>
          </table>
<nav class="ml-4">
  <ul class="pagination">
    <li class="page-item disabled"><a href="#" class="page-link ">Anterior</a></li>
    <li class="page-item active"><a href="#" class="page-link ">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">Próximo</a></li>

  </ul>
</nav>

        </div>
      </div>
    </div>
  </div>
</section>


    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('editor1');
</script>
  </body>
  </html>
