
<header id="main-header" class="pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-pencil"></i> Postagens
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-4 push-8">
        <div class="input-group">
          <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              Procurar
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- TABLE AREA -->
<section id="table-area-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Postagens Recentes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Autor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Post One</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Post Two</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td>Post Three</td>
                <td>Categoria Exemplo</td>
                <td>19 de Setembro de 2017</td>
                <td>Fernando Guimarães</td>
                <td><a href="details" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
              </tr>
            </tbody>
          </table>
          <nav class="ml-4">
            <ul class="pagination">
              <li class="page-item disabled"><a href="#" class="page-link ">Anterior</a></li>
              <li class="page-item active"><a href="#" class="page-link ">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">Próximo</a></li>

            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>
